<footer class="text-slate-200 bg-green-800">
  <div class="container px-5 py-6 mx-auto flex sm:flex-row justify-between flex-col gap-4">
    <div class="flex flex-col items-center justify-center gap-2">
      <div class="flex title-font font-medium items-center md:justify-start justify-center">
        <a class="ml-3 text-base">Privacy Policy</a>
        <a class="ml-3 text-base">Terms of Use</a>
      </div>
      <span class="inline-flex justify-center gap-4 sm:justify-start">
        <a href="https://www.facebook.com/" class="bg-green-600 rounded-full h-10 w-10 flex justify-center items-center" target="_blank">
          <i class="fab fa-facebook text-2xl text-white"></i>
        </a>
        <a href="https://www.instagram.com/" class="bg-green-600 rounded-full h-10 w-10 flex justify-center items-center" target="_blank">
          <i class="fab fa-instagram text-2xl text-white"></i>
        </a>
        <a href="https://www.youtube.com/" class="bg-green-600 rounded-full h-10 w-10 flex justify-center items-center" target="_blank">
          <i class="fab fa-youtube text-2xl text-white"></i>
        </a>
        <a href="https://twitter.com/" class="bg-green-600 rounded-full h-10 w-10 flex justify-center items-center" target="_blank">
          <i class="fab fa-twitter text-2xl text-white"></i>
        </a>
      </span>
    </div>
    <p class="text-sm sm:ml-4 sm:pl-4 sm:py-2">
      © 2023 Developed by Kapetalista. Made with <span class="text-pink-300">love</span> and <span class="text-pink-300">coffee</span>.
    </p>
  </div>
</footer>