<header class="text-gray-600">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center gap-2">
    <a class="flex title-font font-medium items-center text-gray-900 ">
      <img src="../../assets/starbooks-removebg-preview.png" alt="Star Books" class="h-20 w-20 aspect-auto object-contain">
      <span class="ml-3 text-xl font-semibold" style="background: linear-gradient(45deg, #006837, #00704A); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Star Books</span>
    </a>
    <nav
      class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900 cursor-pointer" href="#home">Home</a>
      <a class="mr-5 hover:text-gray-900 cursor-pointer" href="#about">About Us</a>
      <a class="mr-5 hover:text-gray-900 cursor-pointer" href="#services">Services</a>
      <a class="mr-5 hover:text-gray-900 cursor-pointer" href="#contact">Contact Us</a>
    </nav>
    <a routerLink="/dashboard/takeorder"
      class="inline-flex items-center text-white bg-green-800 border-0 p-3 rounded focus:outline-none hover:bg-green-900">Get Started
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
</header>