<section class="py-12" style="background: linear-gradient(45deg, #006837, #00704A);" id="services">
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold text-center mb-8 text-white">Our Services and Events</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 p-6">
            <div class="p-6 bg-white rounded-lg">
                <div class="h-40 bg-center bg-cover rounded mb-4" style="background-image: url('../../assets/taste.jpg');"></div>
                <h3 class="text-green-700 text-xl font-semibold">
                    <i class="fas fa-coffee"></i> Coffee Tasting Events
                </h3>
                <p class="text-gray-600">Explore a variety of coffee flavors at our exclusive tasting events.</p>
            </div>
            <div class="p-6 bg-white rounded-lg">
                <div class="h-40 bg-center bg-cover rounded mb-4" style="background-image: url('../../assets/custom.jpeg');"></div>
                <h3 class="text-green-700 text-xl font-semibold">
                    <i class="fa-sharp fa-solid fa-blender"></i> Custom Blends
                </h3>
                <p class="text-gray-600">Craft a unique coffee blend that suits your taste perfectly.</p>
            </div>
            <div class="p-6 bg-white rounded-lg">
                <div class="h-40 bg-center bg-cover rounded mb-4" style="background-image: url('../../assets/workshop.jpeg');"></div>
                <h3 class="text-green-700 text-xl font-semibold">
                    <i class="fas fa-mortar-pestle"></i> Barista Workshops
                </h3>
                <p class="text-gray-600">Learn the art of brewing coffee like a professional at our workshops.</p>
            </div>
            <!-- Add more service cards here with similar structure -->
        </div>
    </div>
</section>
