<div class="bg-green-700 w-72 h-screen text-white flex justify-between flex-col">
    <div>
        <div class="text-center bg-green-900 p-8">
            <h2 class="text-2xl font-semibold ">Star Books</h2>
            <p class="text-sm text-gray-300">Staff</p>
        </div>
        <div class="flex flex-col gap-2">
            <a routerLink="takeorder" routerLinkActive="active"
                class="flex items-center p-2 gap-2 text-gray-300 hover:bg-green-800">
                <i class="fas fa-coffee text-xl w-6"></i>
                <span>Take Order</span>
            </a>
            <a routerLink="membership" routerLinkActive="active"
                class="flex items-center p-2 gap-2 text-gray-300 hover:bg-green-800">
                <i class="fa-solid fa-address-card text-xl w-6"></i>
                <span>Membership</span>
            </a>
        </div>
    </div>
    <div class="w-full p-2 ">
        <button routerLink="/" class="rounded w-full hover:bg-red-500 bg-red-400 p-2 mt-auto">Logout</button>
    </div>
</div>